
.footernav {
    position: absolute;
    width: 100%;
    height: 173px;
    background-color: #3d2f2f;
    color: rgb(255, 255, 255);
    overflow:hidden;
    display:flex;
    justify-content: space-evenly;
    line-height: 8px;
    font-style: normal;
}

.redtext:hover {
    color: rgb(143, 96, 96);
    width:100%;
}